/* === FONT === */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Uncial+Antiqua&display=swap');

/* === GLOBAL RESET === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
}

/* === NAVIGATION === */
header {
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
}

header nav ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

header nav a {
  display: block;
  font-family: 'Uncial Antiqua', serif;
  font-size: 0.9rem;
  padding: 0.75rem 0.5rem;
  letter-spacing: 0.1rem;
}
